* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62,5%; 
}

body, html { 
  height: 100vh;
  width: 100vw; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(233, 233, 233);
  font-family: Arial, Helvetica, sans-serif;
}

/*=== main ==============*/
main {
  border-radius: 0.3rem;
  width: 90%;
  max-width: 27rem;
  height: 27.5rem; 
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*=== header ==============*/
header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  background-color: #00455a;
  color: white;

  height: 26.3%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem;
}

.titles {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 3rem;
}

h2 {
  font-size: 1.15rem;
  margin-top: .2rem;
}
.titles p {
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  color: grey;
  margin-top: .2rem;
}

/*=== image ================*/
.image {
  border-bottom: 3px solid #31b7bc;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 0.8rem;
}

img {
  border-radius: 30%;
  width: 3rem;
  background-color:white;
}

/*=== container form ===========*/
.container {
  padding-inline: 2.5rem;
  padding-bottom: 2rem;

  height: 17.5rem;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form div {
  display: flex;
  flex-direction: column;
  height: 4.5rem;
  position: relative;
}

form div.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
  color: grey;
}

form div.password {
  height: 5rem;
}

.email label, .password label {
  margin-bottom: 1rem;
  color: grey;
}

.password label {
  margin-top: 0.5rem;
}

#password, #email {
  height: 100%;
  border: 1px solid gray;
  border-radius: .3rem;

  padding-inline: 15px;
}

#password:focus, #email:focus {
  outline: gray;
}

button {
  border: none;
  border-radius: .3rem;
  width: 7.5rem;
  background-color: #31b7bc;
  color: white;
  font-size: 1rem;
}

/*=== msg-validation-error-and-sucsess =========*/
.msgValidation-error, .msgValidation-success {
  visibility: hidden;
}

.error-message {
  color: #dc3545;
}

.success-message {
  color: #198754;
}

.email .msgValidation-error, .email .msgValidation-success {
  position: absolute;
  top: 4.8rem;
}

.password .msgValidation-error, .password .msgValidation-success {
  position: absolute;
  top: 5.3rem;
}

.error-image {
  position: absolute;
  bottom: 120%;
  left: 250%;
  width: 1rem;
}

.success-image {
  position: absolute;
  bottom: 120%;
  left: 283%;
  width: 1rem;
}

/*=== media ================*/
@media(max-width:720px) {
  main {
    max-width: 90%;
    height: 30rem;
  }

  header .titles {
    position: relative;
    top: 1rem;
  }

  .container {
    height: 18.5rem;
    padding-bottom: 1rem;
  }

  .email label, .password label {
    display: flex;
    justify-content: center;
  }

  form div.checkbox {
    flex-direction: column;
    align-items: center;
    height: 5rem;
  }

  button {
    height: 3rem;
    width: 10rem;
  }

}

@media(max-width: 320px){
  main {
    min-width: 16.5rem;
    max-width: 90%;
  }
}
